@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
  font-family: Born2bSportyV2;
  src: url(/fonts/Born2bSportyV2.ttf);
}
@font-face {
  font-family: BitPap;
  src: url(/fonts/BitPap.ttf);
}
@font-face {
  font-family: RasterForge;
  src: url(/fonts/RasterForgeRegular-JpBgm.ttf);
}

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94   ;
  --secondary-color: #E7C24F ;
  --accent1-color: #A42212;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Born2bSportyV2";
  --paragraph-font: "BitPap", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

body {
    background-color: rgb(255, 255, 255);/*rgb(15, 15, 25);*/
    font-family: "RasterForge", "BitPap", "Born2bSportyV2", Arial;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
    nav a {
        color: rgb(255, 255, 255);
        text-align: center;
        text-decoration: none;
        padding: 35px;
    }
        nav a:hover {
            color: white;
            background-color: black;
        }
.home-title {
    color: orange;
    font-family: var(--heading-font);/*'Rock Salt', 'Bradley Hand', sans-serif;*/
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
h2 {
    margin: 0;
}
h4 {
    color: antiquewhite;
}
.book, .join {
    font-size: 18px;
    background-color: white;
    color: aqua;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #000000; 
    color: #e1a965;
}
.card-img {
    border: 10px solid black;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
    .card-img:hover {
        opacity: .6;
        transform: scale(1.1);
    }

.icon {
    width: 80px;
    padding-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
    #hero-msg h4 {
        color: white;
    }
#hero-img {
    width: 100%;
}
#content {
    max-width: 1600px;
    margin: 0px, auto
}
#background {
    height: 725px;
    background-color: beige;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: aliceblue;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
    .msg h2 {
        font-family: var(--heading-font);
        color: var(--headline-color-on-white);
        /* color: #000000; */
    }
    .msg p {
        color: rgb(32, 32, 32);
        font-size: .8em;
        padding-bottom: 15px;
    }
footer {
    background-color: #e1a965;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    footer a {
        color: #ffffff;
        text-decoration: none;
    }
        footer a:hover {
            color: aquamarine;
        }
    footer p {
        font-size: 1.2em;
    }
        footer p a:hover {
            text-decoration: underline;
        }
    footer .social img {
        padding-top: 15px;
    }

    #hero-msg h1, #hero-msg h4 {
        text-align: center;
    }
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
    main section img {
        box-sizing: border-box;
    }
.card-img, .mountains {
    width: 100%;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            