body {
    background-color: aliceblue;
    margin: 0px, auto;
}

header {
    align-content: center;
    text-align: center;
    width: 600px;
    min-width: max-content;
    margin: 24px, auto;
    background-color: azure;
    position: sticky;
    border: 50px, solid, white;
    border-radius: 50px;
    background-color: white;
    height: 50px;
}

        nav ul {
            list-style-type: none;
            background-color: azure;
            display: inline-block;
        }

            nav ul li {
                padding-inline-start: 0;
                padding: 0;
                margin: 0;
                float: inline-start;
                border-right: 1px,black;
            }
                nav ul li:last-child {
                    border-right: none;
                }

                nav ul li a {
                    /* display: inline; */
                    color: black;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    nav ul li a.active {
                        background-color: #57fff9;
                    }

                    nav ul li a:hover:not(.active) {
                        background-color: rgb(210, 253, 253);
                    }

                    


        /* header nav a {
            text-decoration: none;
            padding: 12;
        } */
main {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container {
    border: 12px, solid, #ff0000;
    max-width: 1600px;
    margin: 0px, auto;
    display: block;
}

ul {
    display: block;
}


body {background-color: powderblue;}
        h1 {
            color: red;
            text-align: center;
        }
        h2 {
            color: black;
            text-align: center;
        }
        h3 {
            color: blue;
            text-align: center;
        }
        p1 {
            color: black;
            padding: default, 30%;
        }
        

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

